[Unit]
Description=Apply DST room opening hours
OnSuccess=dst-room-recycle.service

[Service]
Type=oneshot
WorkingDirectory=/srv/dst/dst-server
ExecStart=/srv/dst/dst-server/.venv/bin/python -m scripts.manage_rooms
TimeoutStartSec=30
