[Unit]
Description=Don't Starve Together shard cave

[Container]
Image=quay.io/wh2099/dst-server
Pod=dst-room-000.pod
Exec=/app/.venv/bin/dst-server run --external-port 30600 -- cave
Environment=DST_SERVER_CLUSTER_NAME=dst-room-000
Environment=DST_SERVER_TELEMETRY_PROFILE=history
Environment=OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://10.255.255.254:4317
Environment=OTEL_METRICS_EXPORTER=none
Environment=OTEL_TRACES_EXPORTER=none
Volume=/srv/dst/room-000:/cluster:z
StopTimeout=40

[Service]
Restart=on-failure
TimeoutStopSec=50
