[Unit]
Description=Prepare Don't Starve Together cluster dst-room-000

[Container]
Image=quay.io/wh2099/dst-server
Exec=/app/.venv/bin/dst-server prepare
Volume=/srv/dst/room-000:/cluster:z
StopTimeout=40

[Service]
Type=oneshot
Restart=on-failure
TimeoutStopSec=50
