[Unit]
Description=Don't Starve Together shard cave
BindsTo=dst-000-forest.container
After=dst-000-forest.container

[Container]
Image=quay.io/wh2099/dst-server
Pod=dst-000.pod
Exec=/app/.venv/bin/dst-server serve --external-port 30002 -- cave
Environment=DST_SERVER_CLUSTER_NAME=dst-000
Environment=DST_SERVER_TELEMETRY_PROFILE=history
Environment=OTEL_EXPORTER_OTLP_LOGS_ENDPOINT=http://10.255.255.254:4317
Environment=OTEL_METRICS_EXPORTER=none
Environment=OTEL_TRACES_EXPORTER=none
Volume=/srv/dst/000:/cluster
ContainerName=dst-000-cave
StopTimeout=40
Notify=true

[Service]
Restart=on-failure
KillMode=control-group
WatchdogSec=300
WatchdogSignal=SIGKILL
TimeoutStopSec=50
